.item{
    width: 100%;
    border-bottom: 1px solid rgb(228, 218, 218);
    padding: 5px;
    cursor: pointer;
    height: 40px;
    position: relative;
}
.item .item__target:hover{
 background: rgb(221, 213, 213);
 transition: all ease-in 0.4s;
}

.item .item__target{
    position: absolute;
    border: 1px solid gray;
}
.item div {
    margin-right: 10px;
}

.item >.output{
    padding: 10px;
    width: 400px;
    outline: none;
}
.item >.output{
    padding: 10px;
    width: 400px;
    outline: none;
    border: none;
}

.item .checkbox{
    border: 1px solid black;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}


.item div .btn{
    margin: 2px;
    background: transparent;
    border: 1px solid rgb(165, 162, 162);
    border-radius: 3px;
    cursor: pointer;
}
.item div .btn-update{
    color: rgb(39, 124, 215);
}
.item div .btn-delete{
    color: rgb(212, 80, 80);
}

.item div .btn-delete:hover{
    color: rgb(202, 109, 109);
}

.item div .btn-update:hover{
    color: rgb(85, 150, 219);
}

.body .item .underline{
    text-decoration: underline;
    color: red;
}

.item .complete{
    text-decoration: underline;
    color: rgb(9, 133, 170);
}

.item .input__complete{
    background: brown;
}